<a href="https://colab.research.google.com/github/Gavinlai01/FINA5270-IndividualReport/blob/main/Individual%20Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Install the required package

In [1]:
!pip install fredapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0

## Get the necessary data from FRED

In [12]:
from fredapi import Fred
import pandas as pd
fred = Fred(api_key='d01d199e0673e6009d985f05a7a39ff2')
def Get_Data(code):
  data = fred.get_series(code).to_frame()
  data.columns = [code]
  data.index.names = ['Date']
  return data

Consumer Price Index for All Urban Consumers: All Items in U.S. City Average (CPIAUCSL)

In [13]:
CPIAUCSL = Get_Data('CPIAUCSL')
CPIAUCSL['InflationRate_All'] = CPIAUCSL['CPIAUCSL'].pct_change(periods=12)
CPIAUCSL

            CPIAUCSL  InflationRate_All
Date
1947-01-01    21.480                NaN
1947-02-01    21.620                NaN
1947-03-01    22.000                NaN
1947-04-01    22.000                NaN
1947-05-01    21.950                NaN
...              ...                ...
2021-12-01   280.126           0.070965
2022-01-01   281.933           0.075259
2022-02-01   284.182           0.079120
2022-03-01   287.708           0.085576
2022-04-01   288.663           0.082241

[904 rows x 2 columns]

Consumer Price Index for All Urban Consumers: All Items Less Food and Energy in U.S. City Average (CPILFESL)

In [15]:
CPILFESL = Get_Data('CPILFESL')
CPILFESL['InflationRate_LessFoodEnergy'] = CPILFESL['CPILFESL'].pct_change(periods=12)
CPILFESL

            CPILFESL  InflationRate_LessFoodEnergy
Date
1957-01-01    28.500                           NaN
1957-02-01    28.600                           NaN
1957-03-01    28.700                           NaN
1957-04-01    28.800                           NaN
1957-05-01    28.800                           NaN
...              ...                           ...
2021-12-01   284.770                      0.054766
2022-01-01   286.431                      0.060408
2022-02-01   287.878                      0.064157
2022-03-01   288.811                      0.064360
2022-04-01   290.455                      0.061337

[784 rows x 2 columns]

Assets: Total Assets: Total Assets (Less Eliminations from Consolidation): Wednesday Level (WALCL)

In [18]:
WALCL = Get_Data('WALCL')
WALCL['AssetPct'] = WALCL['WALCL'].pct_change()
WALCL

                WALCL  AssetPct
Date
2002-12-18   719542.0       NaN
2002-12-25   732059.0  0.017396
2003-01-01   730994.0 -0.001455
2003-01-08   723762.0 -0.009893
2003-01-15   720074.0 -0.005096
...               ...       ...
2022-04-20  8955851.0 -0.001075
2022-04-27  8939199.0 -0.001859
2022-05-04  8939972.0  0.000086
2022-05-11  8942008.0  0.000228
2022-05-18  8945898.0  0.000435

[1014 rows x 2 columns]

Unemployment Rate (UNRATE)

In [20]:
UNRATE = Get_Data('UNRATE')
UNRATE

            UNRATE
Date
1948-01-01     3.4
1948-02-01     3.8
1948-03-01     4.0
1948-04-01     3.9
1948-05-01     3.5
...            ...
2021-12-01     3.9
2022-01-01     4.0
2022-02-01     3.8
2022-03-01     3.6
2022-04-01     3.6

[892 rows x 1 columns]

Currency in Circulation (CURRCIR)

In [19]:
CURRCIR = Get_Data('CURRCIR')
CURRCIR['CURRCIRPct'] = CURRCIR['CURRCIR'].pct_change()
CURRCIR

             CURRCIR  CURRCIRPct
Date
1917-08-01     3.714         NaN
1917-09-01     3.774    0.016155
1917-10-01     3.865    0.024112
1917-11-01     3.916    0.013195
1917-12-01     4.055    0.035495
...              ...         ...
2021-12-01  2223.870    0.005570
2022-01-01  2233.621    0.004385
2022-02-01  2232.107   -0.000678
2022-03-01  2257.649    0.011443
2022-04-01  2269.832    0.005396

[1257 rows x 2 columns]

Asset = Currency in Circulation + Reserve

## Shrink the balance sheet
1. Tappering: Reducing the monthly pace of net purchases of Treasury securities and agency MBS
2. Raise Interest Rate > will reduce the Valuation of Growth Stock (Tech companies)
3. Balance Sheet Runoff.