<a href="https://colab.research.google.com/github/Gavinlai01/FINA5270-IndividualReport/blob/main/Individual%20Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Install the required package

In [1]:
!pip install fredapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0

In [2]:
from fredapi import Fred
import pandas as pd
fred = Fred(api_key='d01d199e0673e6009d985f05a7a39ff2')
def Get_Data(code):
  data = fred.get_series(code).to_frame()
  data.columns = [code]
  data.index.names = ['Date']
  return data

In [8]:
CPIAUCSL = Get_Data('CPIAUCSL')
CPIAUCSL['InflationRate_All'] = CPIAUCSL['CPIAUCSL'].pct_change(periods=12)
CPIAUCSL

            CPIAUCSL  Inflation
Date
1947-01-01    21.480        NaN
1947-02-01    21.620        NaN
1947-03-01    22.000        NaN
1947-04-01    22.000        NaN
1947-05-01    21.950        NaN
...              ...        ...
2021-12-01   280.126   0.070965
2022-01-01   281.933   0.075259
2022-02-01   284.182   0.079120
2022-03-01   287.708   0.085576
2022-04-01   288.663   0.082241

[904 rows x 2 columns]

In [9]:
CPILFESL = Get_Data('CPILFESL')
CPILFESL['InflationRate_LessFoodEnergy'] = CPILFESL['CPILFESL'].pct_change(periods=12)
CPIAUCSL

            CPIAUCSL  Inflation
Date
1947-01-01    21.480        NaN
1947-02-01    21.620        NaN
1947-03-01    22.000        NaN
1947-04-01    22.000        NaN
1947-05-01    21.950        NaN
...              ...        ...
2021-12-01   280.126   0.070965
2022-01-01   281.933   0.075259
2022-02-01   284.182   0.079120
2022-03-01   287.708   0.085576
2022-04-01   288.663   0.082241

[904 rows x 2 columns]